.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 12px 0 12px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 12px 0 12px;
}


.list_description {
    padding: 24px 12px 16px 12px;
}

.item_links {
    padding: 8px 0 0 0;
}


/* Desktop */
@media(min-width:800px) {

    .structure {
        display: grid;
        grid-template-rows: 52px 1fr 52px;
        height: 100vh;
        max-width: 1440px;
        margin: 0 auto;
    }

    .structure .container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 32px 0 32px;
    }

    .footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 32px 0 32px;
    }

    .list_description {
        padding: 32px 8px 0 32px;
    }

    .menu li {
        margin: 0 0 0 24px;
    }
    

}

/* All */
html {
    height: 100%;
}

body {
    background-color: #1E1E1C;
    height: 100%;
}

img {
    width: 100%;
}

.gap-4 {
    margin-bottom: 4px;
}

.gap-16 {
    margin-bottom: 16px;
}

.gap-64 {
    margin-bottom: 64px;
}

.structure {
    background-color: #1E1E1C;
    margin: auto;
    height: 100%;
}

body {
    background-color: #1E1E1C;
}

ul#countdown {
    display: flex;
    text-decoration: none;
    padding: 0%;
    list-style: none;
    margin: 4px 0 0 0;
}

.statistic {
    padding: 4px 0 0 0;
}

.list_item {
    background-color: #232323;
    border-radius: 8px;
    padding: 24px 24px 24px 24px;
    margin: 8px;
}

.menu {
    display: flex;
    padding: 0%;
    list-style: none;
    margin: 0;
}


/* ____ Links ___________ */


a {
    position: relative;
    color: #FFF;
    text-decoration: none;
}

a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -2px;
    left: 0;
    background-color: #FFF;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}