html {
    font-family: ballinger;
    color: #fff;
}

h1,
h2,
h3,
h4 {
    font-family: ballinger-mono, sans-serif;
    font-weight: 500;
    font-style: normal;
    margin: 0;
    color: #fff;

}

p {
    font-size: 16px;
    line-height: 20px;
    font-family: ballinger, sans-serif;
    color: #C4C4C4;
}

.tech {
    font-size: 12px;
    line-height: 16px;
    font-family: ballinger-mono, sans-serif;
    color: #C4C4C4;
    margin: 0px;
}

h2 {
    font-size: max(2em, min(3.611vw, 3.25em));
    line-height: max(36px, min(4vw, 52px));
}

h3 {
    font-size: 32px;
    line-height: 32px;
}

h4 {
    font-size: 20px;
    line-height: 32px;
}

.number {
    font-size: 32px;
    line-height: 32px;
    font-weight: 700;
    font-family: ballinger-mono, sans-serif;
    color: #fff;
    padding: 0 12px 0 0;
    margin: 0;
}

.item_description {
    margin: 4px 0 4px 0;
}

.attempts {
    margin: 4px 0 0 0;
}

.menu_item {
    font-size: 12px;
    line-height: 16px;
    font-family: ballinger-mono, sans-serif;
    color: #C4C4C4;
    margin: 0px;
    text-transform: uppercase;
}




/* 
font-family: ballinger-mono,
sans-serif;
font-weight: 400;
font-style: normal;

font-family: ballinger;
font-weight: 400;
font-style: normal; */